.bs-docs-nav .navbar-brand, .bs-docs-nav .navbar-nav>li>a {
font-weight: 500;
color: #4e505c;
}

.bs-docs-nav .navbar-toggle .icon-bar  {
background-color: #4e505c;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: #4e505c;
}

.btn-outline-inverse
{
	border-color: #dddddd;
}

.btn-outline
{
	border-color: #4e505c;
	color: #4e505c;
}

.btn-outline:hover
{
	background-color: #4e505c;
}